<div class="row">
    <div class="col-lg-6 col-sm-12 col-xs-12 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          <b>Registrarse</b>
        </div>
        <!--.card-header-->
        <div class="card-body">
          <form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <div class="form-group">
              <label for="email">Correo electrónico: </label>
              <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
              <small [hidden]="email.valid || email.pristine"
                  class="form-text text-danger">
                * Este campo es obligatorio
              </small>
            </div>
            <div class="form-group">
              <label for="password">Contraseña: </label>
              <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel">
              <small [hidden]="password.valid || password.pristine" class="form-text text-danger">
                * Este campo es obligatorio
              </small>
            </div>
            <div class="form-group">
              <label for="businessName">Razón Social: </label>
              <input type="text" name="businessName" id="businessName" class="form-control" #businessName="ngModel" required [(ngModel)]="model.business_name">
              <small [hidden]="businessName.valid || businessName.pristine" class="form-text text-danger">
                * Este campo es obligatorio
              </small>
            </div>
            <div class="form-group">
              <label for="ruc">RUC: </label>
              <input type="text" name="ruc" id="ruc" class="form-control" #ruc="ngModel" required [(ngModel)]="model.ruc">
              <small [hidden]="ruc.valid || ruc.pristine" class="form-text text-danger">
                * Este campo es obligatorio
              </small>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Teléfono: </label>
              <input type="text" name="phoneNumber" id="phoneNumber" class="form-control" #phoneNumber="ngModel" required [(ngModel)]="model.phone_number">
              <small [hidden]="phoneNumber.valid || phoneNumber.pristine" class="form-text text-danger">
                * Este campo es obligatorio
              </small>
            </div>
            <div class="btn-group">
              <button type="submit" class="btn btn-dark" [disabled]="!registerForm.form.valid">Registrar</button>
            </div>
          </form>
        </div>
        <!--.card-body-->
      </div>
      <!--.card-->
    </div>
    <!--.col-->
  </div>
  <!--.row-->
