<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h5>Acceso Rápido</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();" routerLink="/home" (click)="scrollUp()"><i class="fa fa-angle-double-right"></i>Inicio</a></li>
						<li><a href="javascript:void();" routerLink="/home" (click)="scrollUp()"><i class="fa fa-angle-double-right"></i>Bonos</a></li>
						<li><a href="javascript:void();" routerLink="/about" (click)="scrollUp()"><i class="fa fa-angle-double-right"></i>Acerca de</a></li>
						<li><a href="javascript:void();" routerLink="/contact" (click)="scrollUp()"><i class="fa fa-angle-double-right"></i>Contacto</a></li>
						<li><a href="javascript:void();" routerLink="/home" (click)="scrollUp()"><i class="fa fa-angle-double-right"></i>Ayuda</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h5>Referencias</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Libro Digital</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Leasing Financiero</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Ejemplos</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr/>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://www.upc.edu.pe">UPC</a></u> - Universidad Peruana de Ciencias Aplicadas</p>
					<p class="h6"> &copy; Desarrollado por <a class="text-green ml-2" href="https://github.com/manuxo" target="_blank">MAE</a></p>
				</div>
				<hr/>
			</div>	
		</div>
	</section>
<!-- ./Footer -->
