<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <br>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Leasing App</h1>
        <p class="lead"> Lorem ipsum dolor sit.</p>
      </div>
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="alert alert-success">
      Usuario registrado!
    </div>
    <h2>Bienvenido</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Sint dolores eligendi aliquam laudantium ab quaerat porro quibusdam excepturi repellendus 
      repellat vel incidunt provident voluptate animi molestiae, neque magni ipsum placeat!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
      Sint dolores eligendi aliquam laudantium ab quaerat porro quibusdam excepturi repellendus 
      repellat vel incidunt provident voluptate animi molestiae, neque magni ipsum placeat!
    </p>
  </div>
</div>

